* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-color: pink;
  height: 100vh;
}

main .distnValue {
  height: 10%;
  display: flex;
  align-items: center;
}

main .rocketShip {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}